@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:wght@100&display=swap');

/* Global */
:root {
    --grayF8F8F8: #F8F8F8;
    --gray7B7B7B: #7B7B7B;
    --black000000: #000000;
    --redDD5350: #DD5350;
    --whiteFFFFFF: #FFFFFF;
    --padding24: 36px;
}

html, body, main {
    padding: 0;
    margin: 0;
    background-color: var(--whiteFFFFFF);
    font-family: 'Jost';
    scroll-behavior: smooth;
    box-sizing: border-box;
    min-width: 310px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Color */
.bg-black {
    background-color: var(--black000000);
}

.bg-white {
    background-color: var(--whiteFFFFFF);
}

.fc-black {
    color: var(--black000000) !important;
}

.fc-white {
    color: var(--whiteFFFFFF);
}

.fc-gray7b7b7b {
    color: var(--gray7B7B7B) !important;
}

/* Main */
main {
    padding-top: 145px;
}

main h1 {
    font-style: normal;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--black000000);
    font-size: 36px;
    margin-bottom: 0;
}

/* Header */
header {
    position: fixed;
    background: var(--whiteFFFFFF);
    width: 100%;
    z-index: 1000;
}

header div {
    display: flex;
    padding: 16px; 
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header div a {
    text-decoration-style: none;
}

header h3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    letter-spacing: 0.15em;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

header nav {
    background: var(--black000000);
}

header nav ul {
    padding: 16px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

header nav ul a {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15em;
    color: var(--whiteFFFFFF);
    text-decoration: none;
    margin: 32px;
    transition: 0.3s;
}

header nav ul a:hover {
    font-weight: 800;
    font-size: 24px;
}

/* Carousel */
.carousel {
    position: relative;
    margin: 0 auto;
}

.carousel img {
    display: none;
}

.carousel-item {
    animation-name: fadeanim;
    animation-duration: 2s;
    width: 100%;
    margin: auto;
}

@keyframes fadeanim {
    from {
        opacity: .25
    } 
    to {
        opacity: 1
    }
}

.indicators {
    position: absolute;
    right: 24px;
    bottom: 16px;
}

.indicator {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background: none;
    border-radius: 50%;
    border: 2px solid var(--whiteFFFFFF);
    display: inline-block;
    transition: background 0.5s ease;
}

.active {
    background: var(--whiteFFFFFF);
}

/* Categories */
.categories {
    display: flex;
    flex-wrap: wrap;
}

.category {
    flex: 1 0 30%;
    margin: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.category img {
    width: 100%;
    transition: 0.2s;
}

.category img:hover {
    filter: brightness(0.25);
    transform: scale(1.05);
}

.category h4 {
    color: var(--whiteFFFFFF);
    position: absolute;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1em;
}

/* Best Sellers */
.sellers {
    display: flex;
    flex-wrap: wrap;
    margin: 36px;
    justify-content: space-between;
}

.sellers article {
    background: var(--whiteFFFFFF);
    border: 4px solid var(--grayF8F8F8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 24px;
    flex: 1 0 22%;
    transition: 0.3s;
    min-width: 330px;
}

.sellers article .content {
    padding: 16px;
}

.sellers article .content h4 {
    margin-top: 0;
    font-size: 20px;
    color: var(--gray7B7B7B);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.sellers article .content h5 {
    margin-top: 0;
    display: inline-block;
    font-size: 24px;
}

.actual-price {
    text-decoration-line: line-through;
    color: var(--gray7B7B7B);
}

.discount-price {
    margin-left: 16px;
    color: var(--redDD5350)
}

.ratensold {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.ratensold img {
    width: 32px !important; 
    height: 32px !important; 
} 

.ratensold p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
} 

.sellers article .content h6 {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.sellers article img {
    width: 100%;
}

.sellers article:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sale-tag {
    background: var(--redDD5350);
    padding: 4px 16px;
    position: absolute;
    margin: 16px;
}

.sale-tag h2 {
    color: var(--whiteFFFFFF);
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

/* Latest Customer Review */
.latest-customer-review {
    border: 2px solid var(--black000000);
    margin: 36px;
    padding: 36px;
    transition: 0.3s;
}

.latest-customer-review:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.latest-customer-review article .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.latest-customer-review article .top div {
    display: flex;
    align-items: center;
}

.latest-customer-review article .top div h2 {
    margin: 0;
    padding: 0;
    margin-left: 24px;
}

.latest-customer-review article .rating img {
    width: 36px;
    height: 36px;
}

.latest-customer-review article .content h3 {
    margin-bottom: 0;
    font-size: 24px;
}

.latest-customer-review article .content p {
    margin-bottom: 0;
    margin-top: 8px;
}

.latest-customer-review article .media {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.latest-customer-review article .media img {
    width: 190px;
    margin: 0 16px 16px 0;
}

/* Advantegous Services */
.services {
    padding: 32px 0;
    color: white;
}

.services ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
}

.services li {
    flex: 1 0 30%;
    text-align: center;
    padding: 16px;
}

.services li h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.1em;
    margin: 0;
}

.services li p {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}

/* Footer */

footer h3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    letter-spacing: 0.15em;
}

.top-footer {
    padding: 64px var(--padding24);
    background-color: var(--grayF8F8F8);
    display: flex;
    flex-wrap: wrap;
}

.top-footer .container {
    flex: 1 0 45%;
    margin: 16px 0;
    padding: 16px;
}

.top-footer h2 {
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 52px;
    margin: 0 0 48px 0;

    letter-spacing: 0.15em;
}

.top-footer p {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 35px;

    letter-spacing: 0.15em;
    margin: 0;
}

.footer-social-media-section ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.footer-social-media-section li {
    margin: 8px 0px;
}

.footer-social-media-section ul a {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-color: var(--black000000);
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0;
    display: flex;
    transition: all .25s ease-in-out
}

.footer-social-media-section ul a:hover {
    transform: scale(1.15);
}

.top-footer form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#input-email {
    flex: 0.5;
    padding: 22px;

    background: none;
    border: 2px solid var(--black000000);
    border-radius: 8px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1em;
    outline: none;
}

#button-subscribe {
    flex: 0.2;
    background: var(--black000000);
    border: 2px solid var(--black000000);
    border-radius: 8px;
    padding: 18px;
    color: var(--whiteFFFFFF);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;

    letter-spacing: 0.05em;
    transition: 0.3s;
}

#button-subscribe:hover {
    background: var(--whiteFFFFFF);
    color: var(--black000000);
}

.bottom-footer {
    background-color: var(--black000000);
    padding: var(--padding24);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* About Us */
aside {
    text-align: center;
    margin-top: 48px;
    padding: 24px;
}

aside img {
    border-radius: 50%;
    width: 300px;
}

aside h1 {
    font-size: 128px;
    font-weight: bolder;
    margin: 0;
}

aside h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 48px;
}

aside h5 {
    font-size: 64px;
    margin: 0;
}

aside h6 {
    font-size: 48px;
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.2em;
}

aside p {
    font-size: 24px;
    font-weight: 300;
}

aside ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
}

aside li {
    margin: 32px;
}

aside ul img {
    width: 36px;
    transition: 0.2s;
}

aside ul img:hover {
    transform: scale(1.5);
}

/* Responsiveness */
@media only screen and (max-width: 1100px) {
    footer form {
        display: block !important;
    }

    #button-subscribe {
        margin-top: 16px;
        width: 100%;
    }

    #input-email {
        position: relative;
    }

    input {
        min-width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .category {
        margin: 16px;
    }

    .rating {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 800px) {
    .latest-customer-review article .top {
        display: block;
    }

    .sellers {
        margin: 16px;
    }
}

@media only screen and (max-width: 550px) {
    header nav ul {
        text-align: center;
    }

    header nav ul li {
        margin: 16px;
    }

    aside {
        margin-top: 100px;
    }

    header nav ul a {
        margin: 0;
    }
}

@media only screen and (max-width: 525px) {
    aside h1 {
        font-size: 84px;
    }
}

@media only screen and (max-width: 500px) {
    footer h3 {
        font-size: 16px;
    }

    .bottom-footer {
        display: block;
    }

    aside img {
        width: 250px;
    }

    aside h5 {
        font-size: 48px;
    }

    aside h6 {
        font-size: 36px;
    }

    main {
        padding-top: 176px;
    }
}

@media only screen and (max-width: 443px) {
    main {
        padding-top: 238px;
    }
}

@media only screen and (max-width: 395px) {
    #input-email {
        font-size: 14px;
    }

    #button-subscribe {
        font-size: 16px;
    }

    .top-footer {
        padding: 32px 16px;
    }
}

@media only screen and (max-width: 380px) {
    aside h1 {
        font-size: 64px;
    }
}

@media only screen and (max-width: 350px) {
    aside img {
        width: 200px;
    }

    .top-footer p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 307px) {
    main {
        padding-top: 298px;
    }
}